@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=M+PLUS+2&display=swap');

::-webkit-scrollbar{
  width: 0!important;
}

body {
  font-family: 'Bai Jamjuree';
  box-sizing: border-box;
}